*.env
LISCENSE.chromedriver
temp.py
account_transactions.csv
transactions.csv
src/__pycache__/*
*.pem
*.ppk
*.exe
connection.txt
credit_transactions.csv
transactions.db
*.db
data/*
.vscode
node_modules

